<div id="nzprofile">
    <div class="content-center">
        <div class="nz-photo-container">
            <img src="assets/img/me-good-crop.jpg" alt="">
        </div>
        <h3 class="title">Nicholas Zachary</h3>
        <p class="category">Full-Stack Developer</p>
    </div>
    <div class="section">
        <!-- <div class="container"> -->
        <!-- <div class="button-container">
                        <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" placement="top"
                            ngbTooltip="Follow me on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" placement="top"
                            ngbTooltip="Follow me on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div> -->
        <h3 class="title">A Little About me </h3>

        <h5 class="description text-center">
            My first paid exposure to development was working under a software engineer for Cisco,
            the experience was invaluable.
            I knew my interest in the field was real when I developed
            a storyboard app to propose to my wife, and was successful. <br><br>

            For 3 years my work was half graphic design and web development.
            You can find my work in Canadian Jewellers and Business Jewellers magazines, Las Vegas jewelry tradeshow,
            Hong Kong jewelry tradeshow, and more. <br>

            At this point in my developer journey I am enjoying my exposure
            to Javascript and frameworks like Angular and React as a full stack tool.<br><br>
            I’m enthralled with it’s ability to have control over and influence the user experience.
            Looking for opportunities to grow in these modern stacks and strengthen my backend abilities.</h5>
        <div class="row">
            <div class="col-md-12">
                <h3 class="title"> Languages </h3>
                <ngb-tabset [justify]="'center'" type="pills"
                    class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="now-ui-icons design-2_ruler-pencil" placement="top" ngbTooltip="Front-End"></i>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-md-12 ml-auto mr-auto">
                                    <div class="card card-background card-raised">
                                        <div class="card-body">
                                            <h1 class="title nz-white">Frontend</h1>
                                            <mat-chip-list>
                                                <mat-chip selected color="primary">Angular</mat-chip>
                                                <mat-chip selected color="primary">JavaScript</mat-chip>
                                                <mat-chip selected color="accent"> React </mat-chip>
                                                <mat-chip color="accent" selected>HTML</mat-chip>
                                                <mat-chip color="accent" selected>SASS</mat-chip>
                                                <mat-chip color="accent" selected>Bootstrap</mat-chip>
                                                <mat-chip color="accent" selected>Angular Material</mat-chip>
                                                <mat-chip color="accent" selected>JQuery</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="now-ui-icons ui-2_settings-90" placement="top" ngbTooltip="Back-End"></i>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-md-12 ml-auto mr-auto">
                                    <div class="card card-background card-background-product card-raised">
                                        <div class="card-body">
                                            <h1 class="title nz-white">Backend</h1>
                                            <mat-chip-list>
                                                <mat-chip selected color="primary">Node</mat-chip>
                                                <mat-chip selected color="primary">Express</mat-chip>
                                                <mat-chip selected color="primary"> Firebase </mat-chip>
                                                <mat-chip color="accent" selected>C# - in progress</mat-chip>
                                                <mat-chip color="accent" selected>.NET Core - in progress</mat-chip>
                                                <mat-chip color="accent" selected>Mongo</mat-chip>
                                                <mat-chip color="accent" selected>SQL</mat-chip>
                                                <mat-chip color="accent" selected>PHP</mat-chip>
                                                <mat-chip color="accent" selected>Python</mat-chip>
                                                <mat-chip color="accent" selected>Lua</mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-5 ml-auto mr-auto">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="now-ui-icons tech_laptop"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Listen to Social Conversations</h5>
                                            <p class="description">
                                                Gain access to the demographics, psychographics, and location of unique
                                                people who talk about your brand.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-danger">
                                            <i class="now-ui-icons design-2_ruler-pencil"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Social Conversions</h5>
                                            <p class="description">
                                                Track actions taken on your website that originated from social, and
                                                understand the impact on your bottom line.
                                            </p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>

                        <ng-template ngbTabTitle>
                            <i class="now-ui-icons tech_laptop" placement="top" ngbTooltip="CMS & SDK & MISC"></i>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-md-12 ml-auto mr-auto">
                                    <div class="card card-background card-raised">
                                        <div class="card-body">
                                                <h1 class="title nz-white">CMS & SDK & MISC</h1>
                                                <mat-chip-list>
                                                    <mat-chip selected color="primary">Wordpress</mat-chip>
                                                    <mat-chip selected color="accent">Corona SDK</mat-chip>
                                                    <mat-chip selected color="accent"> Ionic </mat-chip>
                                                    <mat-chip color="accent" selected>Adobe XD</mat-chip>
                                                    <mat-chip color="accent" selected>Adobe Photoshop</mat-chip>
                                                    <mat-chip color="accent" selected>Adobe Illustrator</mat-chip>
                                                    <mat-chip color="accent" selected>Adobe Indesign</mat-chip>
                                                </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-5 ml-auto mr-auto">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="now-ui-icons design_palette"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Colors adjustments</h5>
                                            <p class="description">
                                                Gain access to the demographics, psychographics, and location of unique
                                                people who talk about your brand.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="now-ui-icons design_scissors"></i>
                                        </div>
                                        <div class="description">
                                            <h5 class="info-title">Performance Clothing</h5>
                                            <p class="description">
                                                Unify data from Facebook, Instagram, Twitter, LinkedIn, and Youtube to
                                                gain rich insights from easy-to-use reports.
                                            </p>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>