<div id="nzprofile">
    <div class="content-center">
        <div class="nz-photo-container">
            <img src="assets/img/me-good-crop.jpg" alt="">
        </div>
        <h3 class="title">Nicholas Zachary</h3>
        <p class="category">Full-Stack Developer</p>
        
    </div>
    <div class="section">
        <h3 class="title">A Little About me </h3>

        <h5 class="description text-center nz-about-me-description">
            My first paid exposure to development was working under a software engineer for Cisco,
            the experience was invaluable.
            I knew my interest in the field was real when I developed
            a storyboard app to propose to my wife, and was successful. <br><br>

            For 3 years my work was half graphic design and web development.
            You can find my work in Canadian Jewellers and Business Jewellers magazines, Las Vegas jewelry tradeshow,
            Hong Kong jewelry tradeshow, and more. <br>

            At this point in my developer journey I am enjoying my exposure
            to Javascript and frameworks like Angular and React as a full stack tool.<br><br>
            I’m enthralled with it’s ability to have control over and influence the user experience.
            Looking for opportunities to grow in these modern stacks and strengthen my backend abilities.</h5>
        
        <!-- </div> -->
    </div>
</div>