<div class="wrapper" id="nz-presentation-wrapper">
    <div class="page-header clear-filter">
        <div class="rellax-header rellax-header-sky" data-rellax-speed="-8">
            <div class="page-header-image" style="background-color: #333">
            </div>
        </div>

        <!-- <div class="rellax-header rellax-header-buildings" data-rellax-speed="0">
        </div> -->

        <div class="rellax-text-container rellax-text">
            <h2 class="nz-intro-header">
                Hi, <br>
                I am Nicholas Zachary. <br>
                A full stack developer <br>
                based in Vancouver. <br><br>
                Developing robust code for <br>
                love and adventure. A team <br>
                player with a strong user focus.
            </h2>
        </div>

    </div>
    <div class="section section-components" data-background-color="dark-red">
        <app-nzprofile></app-nzprofile>

    </div>



    <div class="section section-basic-components">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 mx-auto">
                    <div class="image-container" id="nz-image-container">
                        <img class="components-macbook" src="assets/img/laptop-2.png" alt="">
                        <img class="table-img" src="assets/img/angular_typescript_1.png" alt="">
                        <!-- <img class="share-btn-img" src="assets/img/javascript_img_1.png" alt=""> -->
                        <img class="coloured-card-btn-img" src="assets/img/javascript_img_1.png" alt="">
                        <img class="coloured-card-img" src="assets/img/c-sharp-icon.png" alt="">
                        <!-- <img class="social-img" src="assets/img/presentation-page/social-row.jpg" alt=""> -->
                        <img class="linkedin-btn-img" src="assets/img/mongo-db-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="features-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">

                        <h2 class="title">Life outside of software development</h2>

                        <div class="info info-horizontal">
                            <div class="icon icon-primary icon-circle">
                                <!-- <i class="now-ui-icons location_world"></i> -->
                                <img class="nz-community-icons" style="display:inline; text-align: center" src="assets/img/man-in-lotus-position.png" alt="" srcset="">
                            </div>
                            <div class="description">
                                <p> <strong>Yoga,</strong> I've been practicing Yoga for a number of years it's a nice way to disconnect and feel good before returning to the laptop. Along with yoga comes a great community of people, I go to Just Yoga.
                                    community </p>
                            </div>
                        </div>
                        
                        <div class="info info-horizontal">
                            <div class="icon icon-primary icon-circle">
                                <!-- <i class="now-ui-icons sport_user-run"></i> -->
                                <img class="nz-community-icons" style="display:inline; text-align: center" src="assets/img/airplane_logo.png" alt="" srcset="">
                            </div>
                            <div class="description">
                                    <p> <strong>Travel,</strong> I love to travel to new places and gain new experiences. After every trip, you come back a new person. I've been to Hong Kong, Las Vegas, Edmonton, France, Italy, Greece, Spain, Nepal, and more... </p>
                            </div>
                        </div>

                        <div class="info info-horizontal">
                            <div class="icon icon-primary icon-circle">
                                <!-- <i class="now-ui-icons ui-2_time-alarm"></i> -->
                                <img class="nz-community-icons" style="display:inline; text-align: center" src="assets/img/mountain_icon.png" alt="" srcset="">
                            </div>
                            <div class="description">
                                    <div class="description">
                                            <p> <strong>Hiking,</strong> Something about being outside in Nature is rejuvanating. I like walking up mountains, breathing the fresh air, and appreciating the beautiful scenary. Recently i've started bouldering and I love it! </p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="tablet-container" id="nz-tablet-container">
                            <img src="assets/img/me_and_olaf_1.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- -->

        
        


        <!-- Project Grid Header Text-->
        <div class="section section-sections" data-background-color="gray">
            <div class="container">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="section-description text-center">
                        <h2 class="title">Project Highlights</h2>
                        <h5 class="description"> Most of these applications, I played a major role in development to completetion. Looking to help with future projects consiting of Angular with opportuntity to help in the backend. </h5>
                        <!-- <a [routerLink]="['/sections']" class="btn btn-primary btn-round">View All Sections</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-12 ml-auto mr-auto mx-auto">
                <app-nzmodalprojects></app-nzmodalprojects>
            </div>
            
            <!-- Project Grid Section
            <div class="container-fluid">
                <div class="section-cols">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/header1.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/header2.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/header3.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/header4.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/features1.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/features2.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/features3.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/features4.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/features5.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/features6.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/features7.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/features8.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/blogpost1.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/blogpost2.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/blogpost3.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/blogpost4.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/blogpost5.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/team1.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/team2.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/team3.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/team4.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/team5.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/projects1.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/projects2.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/projects4.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/projects5.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/pricing1.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/pricing2.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/pricing3.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/pricing4.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/pricing5.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/testimonials1.jpg" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/testimonials2.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/testimonials3.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/contact1.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/presentation-page/contact2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>-->

        </div> 


        <!-- -->


        <footer class="footer " data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <!-- <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a> -->
                        </li>
                        <li>
                            <!-- <a href="https://www.creative-tim.com/about-us">
                                About Us
                            </a> -->
                        </li>
                        <li>
                            <!-- <a href="http://blog.creative-tim.com">
                                Blog
                            </a> -->
                        </li>
                        <li>
                            <!-- <a href="https://www.creative-tim.com/license">
                                License
                            </a> -->
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    <!-- &copy;
                    {{date | date: 'yyyy'}}, Designed by
                    <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>. -->
                </div>
            </div>
        </footer>
    </div>