div#nz-presentation-wrapper{
    .nz-intro-header {
        text-align: left;
    }
    
    .presentation-page .section-basic-components .image-container, #nz-image-container {
        position: relative;
        top: -178px;
    }

    .nz-community-icons {
        // display: inline;
        text-align: center;
        margin-left: 10px;
        width:50px;
    }
    
    
    // Media Queries
    
    @media (max-width: 768px){
        .nz-intro-header{
            font-size: 38px;
        }
    }
    
    
    @media screen and (min-width: 991px){
        .nz-intro-header{
            font-size: 54px;
        }
    }
    
    @media screen and (max-width: 576px){
        .nz-intro-header{
            font-size: 27px;
        }
    }
    
    // Iphone Responsive
    @media only screen 
    and (min-device-width : 375px)
    and (max-device-width : 667px) {
    
    }
    
    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait) {
    
    }
    
    
    @media screen and (max-width: 768px) and (min-width:576px) {
    
    }
    
    @media screen and (max-width: 991px) and (min-width: 768px) {
    
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media (max-width: 991px){
    
    }
    
    // Ipad Responsive
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px) {
    
    }
    
    
    // Ipad responsive portrait mode
    @media only screen {
    
    }
    
    
    @media (max-width: 768px){
    
    }
    
    @media screen and (max-width: 767px) {
    
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media screen and (max-width: 576px) {
    
    }
    
    @media screen and (max-width: 991px) {
    
    }
    
    @media (max-width:1200px) and (min-width:991px) {
    
    }
}
