.nz-fixed-sidebar {
    position: fixed;
    top: 10px;
    z-index: 100000;
}

div#nz-presentation-wrapper .rellax-text-container {
    max-width: 1490px;
    margin-left: 349px;
}

div#nz-presentation-wrapper{
    height: 246vh;
    background: black;

    // .page-header{
    //     background-color: black;
    // }


    .rellax-text-container{
        max-width: 1490px;
        margin-left: 349px;
        top:15%;
        padding-right: 10px;
    }

    h2.nz-intro-header {
        text-align: left;
        font-size: 108px;
        color:white;
    }
    
    .presentation-page .section-basic-components .image-container, #nz-image-container {
        position: relative;
        top: -178px;
    }

    .nz-profile-header {
        background-color: #f7f7f7;
        margin-top: 543px;
    }

    .nz-community-icons {
        // display: inline;
        text-align: center;
        margin-left: 10px;
        width:50px;
    }
    
    #nz-tablet-container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }


        .nz-sidebar-phone {
            position: relative;
            right: 3px;
        }
    
    
    // Media Queries
    @media screen and (max-width: 990px){
        .rellax-text-container{
            margin-left: 100px;
            h2.nz-intro-header {
                font-size:69px;
            }
        }
        // .nz-footer-contact {
        //     position: relative;
        //     right:100px;
        // }
    }
    
    @media screen and (min-width: 991px){
        .rellax-text-container{
            // margin-left: 100px;
            h2.nz-intro-header {
                font-size:89px;
            }
        }
    }

    @media screen and (max-width: 576px){
        .nz-intro-header{
            font-size: 27px;
        }

        footer {
            height:950px;
        }

        .rellax-text-container{
            margin-left: 100px;
            h2.nz-intro-header {
                font-size:59px;
            }
        }

        .nz-phone-icon-col-container{
            position: relative; 
            left:100px;
        }

        footer#footer .nz-letsconnect img, footer#footer .nz-letsconnect .nz-footer-title {
            right: -1px;
        }
    }
    
    // Iphone Responsive
    @media only screen 
    and (min-device-width : 375px)
    and (max-device-width : 667px) {
    
    }
    
    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait) {
    
    }
    
    
    @media screen and (max-width: 768px) and (min-width:576px) {
    
    }
    
    @media screen and (max-width: 991px) and (min-width: 768px) {
    
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media (max-width: 991px){
    
    }
    
    // Ipad Responsive
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px) {
    
    }
    
    
    // Ipad responsive portrait mode
    @media only screen {
    
    }
    
    
    @media (max-width: 768px){
    
    }
    
    @media screen and (max-width: 767px) {
    
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media screen and (max-width: 576px) {
    
    }
    
    @media screen and (max-width: 991px) {
    
    }
    
    @media (max-width:1200px) and (min-width:991px) {
    
    }
}

div#nz-about-me-section{
    padding-bottom: 0px;
}

div#nzprofile .nz-about-me-description {
    padding-right: 15px;
    padding-left: 15px;
}



footer#footer {
    height: 850px;
    background-color: #a9cee1;
    
    ul.nz-footer-list > li {
        display: inline-block;
        /* You can also add some margins here to make it look prettier */
        zoom:1;
        *display:inline;
        /* this fix is needed for IE7- */
    }

    h4.title.nz-footer-title{
        position: relative;
        top: -100px;
    }

    .nz-letsconnect img, .nz-letsconnect .nz-footer-title {
        position: relative;
        right:44px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


