div#nz-presentation-wrapper{
    .nz-intro-header {
        text-align: left;
    }
    
    .presentation-page .section-basic-components .image-container, #nz-image-container {
        position: relative;
        top: -178px;
    }

    .nz-community-icons {
        // display: inline;
        text-align: center;
        margin-left: 10px;
        width:50px;
    }
    
    #nz-tablet-container{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .nz-about-me-section{
        padding-bottom: 0px;
    }
    
    footer {
        height: 700px;
        background-color: #a9cee1;
        
        ul.nz-footer-list > li {
            display: inline-block;
            /* You can also add some margins here to make it look prettier */
            zoom:1;
            *display:inline;
            /* this fix is needed for IE7- */
        }

        h4.title.nz-footer-title{
            position: relative;
            top: -100px;
        }
    }

    // Media Queries
    
    @media (max-width: 768px){
        .nz-intro-header{
            font-size: 38px;
        }
    }
    
    
    @media screen and (min-width: 991px){
        .nz-intro-header{
            font-size: 54px;
        }
    }
    
    @media screen and (max-width: 576px){
        .nz-intro-header{
            font-size: 27px;
        }
    }
    
    // Iphone Responsive
    @media only screen 
    and (min-device-width : 375px)
    and (max-device-width : 667px) {
    
    }
    
    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait) {
    
    }
    
    
    @media screen and (max-width: 768px) and (min-width:576px) {
    
    }
    
    @media screen and (max-width: 991px) and (min-width: 768px) {
    
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media (max-width: 991px){
    
    }
    
    // Ipad Responsive
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px) {
    
    }
    
    
    // Ipad responsive portrait mode
    @media only screen {
    
    }
    
    
    @media (max-width: 768px){
    
    }
    
    @media screen and (max-width: 767px) {
    
    }
    
    @media screen and (min-width: 768px) {
    
    }
    
    @media screen and (max-width: 576px) {
    
    }
    
    @media screen and (max-width: 991px) {
    
    }
    
    @media (max-width:1200px) and (min-width:991px) {
    
    }
}
