<div class="features-5">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <h2 class="title">Life outside of software development</h2>
              <div class="info info-horizontal">
                  <div class="icon icon-primary icon-circle">
                      <!-- <i class="now-ui-icons location_world"></i> -->
                      <img class="nz-community-icons" style="display:inline; text-align: center"
                          src="assets/img/man-in-lotus-position.png" alt="" srcset="">
                  </div>
                  <div class="description">
                      <p> <strong>Yoga,</strong> I've been practicing Yoga for a number of years it's a nice
                          way to disconnect and feel good before returning to the laptop. Along with yoga
                          comes a great community of people, I go to Just Yoga.
                          community </p>
                  </div>
              </div>

              <div class="info info-horizontal">
                  <div class="icon icon-primary icon-circle">
                      <!-- <i class="now-ui-icons sport_user-run"></i> -->
                      <img class="nz-community-icons" style="display:inline; text-align: center"
                          src="assets/img/airplane_logo.png" alt="" srcset="">
                  </div>
                  <div class="description">
                      <p> <strong>Travel,</strong> I love to travel to new places and gain new experiences.
                          After every trip, you come back a new person. I've been to Hong Kong, Las Vegas,
                          Edmonton, France, Italy, Greece, Spain, Nepal, and more... </p>
                  </div>
              </div>

              <div class="info info-horizontal">
                  <div class="icon icon-primary icon-circle">
                      <!-- <i class="now-ui-icons ui-2_time-alarm"></i> -->
                      <img class="nz-community-icons" style="display:inline; text-align: center"
                          src="assets/img/mountain_icon.png" alt="" srcset="">
                  </div>
                  <div class="description">
                      <div class="description">
                          <p> <strong>Hiking,</strong> Something about being outside in Nature is
                              rejuvanating. I like walking up mountains, breathing the fresh air, and
                              appreciating the beautiful scenary. Recently i've started bouldering and I love
                              it! </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-7">
              <div class="tablet-container" id="nz-tablet-container">
                  <img src="assets/img/me_and_olaf_1.jpg" />
              </div>
          </div>
      </div>
  </div>
</div>