.phone-container {
    display: block;
    // width:400px;
}

.is-fixed-phone-container{
    display: inline-block;
    width:100px;
    transition: width 2s;
}

.showBackground{
    // position: fixed;
    background-color: black;
    border-radius: 25px;
    width:310px;
    transition: width 0.5s;
    transition-timing-function: ease-out;
}

.buttonOnShowBackground{
    padding-left: 0px
}

.phone-iconOnShowBackground {
    background-color: white;
    padding: 9px;
    margin-left: -11px;
}

.isFixed {
    position: fixed;
    top: 56px;   
}

.phone-icon {
    width: 3em;
    cursor: pointer;
}

.pos-center {
    display: block;
    margin: 0 auto;
    text-align: center;
    top: -26px;
    position: relative;
}

.pos-left {
    margin: unset;
    text-align: left;
}

.pos-right {
    display: inline;
}

.phone-number {
    font-weight: bold;
    font-size: 19px;
    color:white;
}

.phone-number-sticky{
    font-weight: bold;
    font-size: 19px;
    color:white;
}

@media screen and (max-width: 990px){
    // .phone-container {
    //     width: 100px;
    // }
}