.email-container {
    display: inline-block;
    width:300px;
}

.email-icon {
    width: 8em;
    cursor: pointer;
}

.pos-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.pos-left {
    margin: unset;
    text-align: left;
}

.email-text {
    font-weight: bold;
    font-size: 22px;
}

@media screen and (max-width: 990px){
    // .email-container {
    //     width: 100px;
    // }
}