.email-container {
    display: block;
    // width:400px;
}

.is-fixed-email-container{
    display: inline-block;
    width:100px;
    transition: width 2s;
}

.showBackground{
    // position: fixed;
    background-color: black;
    border-radius: 25px;
    width: 450px;
    transition: width 0.25s;
    transition-timing-function: ease-out;
}

.buttonOnShowBackground{
    padding-left: 0px
}

.email-iconOnShowBackground {
    background-color: white;
    padding: 9px;
    margin-left: -11px;
}

.email-icon {
    width: 2.5em;
    cursor: pointer;
    // position: relative;
    // top: 13px;
}

.pos-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.pos-left {
    margin: unset;
    text-align: left;
}

.pos-right {
    display: inline;
}

.email-text {
    font-weight: bold;
    font-size: 19px;
    color:black;
}

.email-text-sticky {
    font-weight: bold;
    font-size: 19px;
    color:white;
}