.email-container {
    display: inline-block;
    width:300px;
}

.email-icon {
    width: 8em;
    cursor: pointer;
}

.pos-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.pos-left {
    margin: unset;
    text-align: left;
}

