<!-- <button class="btn btn-primary text-margin" (click)="open(classic,'' , '')">
    <i class="now-ui-icons files_single-copy-04"></i> Classic
</button>
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Modal title</h4>
    </div>
    <div class="modal-body">
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
            texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A
            small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default">Nice Button</button>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template> -->


<ng-template #realtimewhiteboard let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Realtime Whiteboard</h4> 

        <!-- <img src="assets/img/creative-realtime-board-screenshot1.png"> -->
        <div class="img-container">
            <img src="assets/img/creative-realtime-board-screenshot1.png" alt="" srcset="">
        </div>
    </div>

    <div class="modal-body">
        <p> Realtime whiteboard is an online hangout space with features similar to OneNote and Photoshop made
            for people that just want to hang out and plan their next outting. It's fun, social, and interactive.
        </p>
        
        <h4>Features</h4>
        <ul>
            <li> Syncs in realtime!! Chat, draw, livestream, even upload gifs. Everything is a block that you can move around and this updates live for all clients in the room !! </li>
            <li> Meet up with all your friends in a room and updates will be saved in our database for next time.</li>
            <li>   Say more with visual tools</li>
            <li>  Livestream video using your phone or webcam </li>
            <li>  Send live messages in chatroom</li>
            <li>  Share laughs and memories with stickers, gifs, images, avatars, and more.</li>
        </ul>
        <p> <strong> My responsibilities</strong>: I did all of the Backend and Angular work, most of the app. My partner did the html templates and css for most of the app.</p>

        <mat-chip-list>
            <mat-chip selected color="primary">Angular</mat-chip>
            <mat-chip color="primary" selected>Firebase</mat-chip>
            <mat-chip color="accent" selected>Bootstrap</mat-chip>
            <mat-chip color="accent" selected>Angular Material</mat-chip>
        </mat-chip-list>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="redirect('https://github.com/booksftw/creative-realtime-board')"><i class="fab fa-github"></i> Github</button>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #ecomrousseausite let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Commercial Wholesale Jewelry Ecommerce Site</h4> 

        <div class="img-container">
            <img src="assets/img/rousseauchaincom_img.png" alt="" srcset="">
        </div>
    </div>

    <div class="modal-body">
        <p>
            A commercial ecommerce Wordpress site for RousseauChain ltd a wholesale jewlery company, currently active with purchasing customers. 
            I've connected local data to the site and a quick order form that enables the customer to order many items fast using their keyboard.
            In addition, I manage a project to bring their entire physical catalog online and integrated DCatalog a visual flip book online with our ecommerce system.
        </p>
        
        <p> <strong> My responsibilities</strong>: I manage most of the WordPress and Digital Catalog development of the project, and integrations with third-party tools such as WooCommerce and Dcatalog. On top of that, I did all the web design and graphic work.</p>

        <mat-chip-list>
            <mat-chip selected color="primary">Wordpress</mat-chip>
            <mat-chip color="accent" selected>PHP</mat-chip>
            <mat-chip color="accent" selected>JavaScript</mat-chip>
            <mat-chip color="accent" selected>CSS</mat-chip>
            <mat-chip color="accent" selected>WooCommerce</mat-chip>
            <mat-chip color="accent" selected>DCatalog</mat-chip>
            <mat-chip color="accent" selected>Graphic Design</mat-chip>
            <mat-chip color="accent" selected>Web Design</mat-chip>
        </mat-chip-list>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="Sorry, I don't own this code."><i class="fab fa-github"></i> Github</button>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template>


<ng-template #dota2edge let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">A Realtime Dota2 Algorithm Calculator</h4> 

        <div class="img-container">
            <img src="assets/img/dota2-wallpaper.jpg" alt="" srcset="">
        </div>
    </div>

    <div class="modal-body">
        <p>
                Dota 2 is a game similar to chess there's many combinations that decide your next move. This app calculates your next best move an "unfair advantage"
        </p>
        
        <p> <strong> My responsibilities</strong>: This was a side project of mine and I did everything from idea to completeion.</p>

        <mat-chip-list>
            <mat-chip selected color="primary">Angular</mat-chip>
            <mat-chip color="primary" selected>Firebase</mat-chip>
            <mat-chip color="accent" selected>AngularFire2</mat-chip>
            <mat-chip color="accent" selected>Bootstrap</mat-chip>
        </mat-chip-list>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="redirect('https://github.com/booksftw/dota-2-edge')"><i class="fab fa-github"></i> Github</button>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #lighthouseeats let-c="close" let-d="dismiss">
        <div class="modal-header justify-content-center">
            <button type="button" class="close" (click)="d('Cross click')">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">A Restaurant Service App Similar to SkipTheDishes</h4> 
    
            <div class="img-container">
                <img src="assets/img/dota2-wallpaper.jpg" alt="" srcset="">
            </div>
        </div>
    
        <div class="modal-body">
            <p>
                    I did this for my midterm at Lighthouse Labs in a team of 3. Lighthouse eats, an app similar to SkipTheDishes and other food delivery apps.
                    It has route guards and basic authentication enabling user-stories.
                    A customer can login and visit all the restaurants available on our list.
                    Clicking a store gives you access to restaurants menu and cart. On checkout we provide a basic estimated wait time with animation.
                    The app doesn't end here. The restaurant owner's user story starts. After an order has been processed, a logged in store owner can visit his restaurants backend and manage the order
                    in an interactive way.
            </p>
            
            <p> <strong> My responsibilities</strong>: I did the entire backend that includes PostgresSQL, Knex, and Express.In addition, I did some front end such as the login page, the login component, and the checkout animation timer.</p>
    
            <mat-chip-list>
                <mat-chip color="primary" selected>PostgresSQL</mat-chip>
                <mat-chip selected color="primary">Express</mat-chip>
                <mat-chip color="accent" selected>JavaScript</mat-chip>
                <mat-chip color="accent" selected>CSS</mat-chip>
                <mat-chip color="accent" selected>Bootstrap</mat-chip>
                <mat-chip color="accent" selected>JQuery</mat-chip>
            </mat-chip-list>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="redirect('https://github.com/booksftw/restaurant_mid_term')"><i class="fab fa-github"></i> Github</button>
            <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>



<!-- Project Grid -->
<div class="container-fluid">
    <div class="section-cols">
        <div class="row nz-project-grid">
            <div class="col-md-3 btn btn-primary">
                <h5 class="title"> Realtime WhiteBoard </h5>
                <img src="assets/img/creative-realtime-board-screenshot1.png" (click)="open(realtimewhiteboard,'' , '')" alt="">
            </div>
            <div class="col-md-3 btn btn-primary">
                <h5 class="title"> RousseauChain </h5>
                <img src="assets/img/rousseauchaincom_img.png" (click)="open(ecomrousseausite,'' , '')" alt="">
            </div>
            <div class="col-md-3 btn btn-primary">
                <h5 class="title"> Dota2Edge </h5>
                <img src="assets/img/dota2-wallpaper.jpg" (click)="open(dota2edge,'' , '')" alt="">
            </div>
            <div class="col-md-3 btn btn-primary">
                <h5 class="title"> LighthouseEats </h5>
                <img src="assets/img/ligthouseeats_img.png" (click)="open(lighthouseeats,'' , '')" alt="">
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Coming home, a pleasure!</h2>
                <h4 class="description">Havenly is a convenient, personal and affordable way to redecorate your home room by room. Collaborate with our professional interior designers on our online platform. </h4>
            </div>
    </div>
</div>